*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.settings
.project
.classpath
.settings
*.classpath
.idea
.classpath
*.jar
.gitignore
*.class
classes/artifacts/TraceabilityServer_war_exploded/resources/res/dataset/COVID19.csv
classes/artifacts/TraceabilityServer_war_exploded/resources/res/dataset/WISDM_ar_test1.csv
classes/artifacts/TraceabilityServer_war_exploded/resources/res/dataset/WISDM_ar_train1.csv
classes/artifacts/TraceabilityServer_war_exploded/resources/res/model/trained_har_nn_updated.zip
classes/artifacts/TraceabilityServer_war_exploded/resources/res/model/trained_har_nn.zip
classes/artifacts/TraceabilityServer_war_exploded/updated_model/updatedModel.zip
classes/artifacts/TraceabilityServer_war_exploded/clients_model/EC_51_BC_AE_15_7EupdatedModel.zip
classes/artifacts/TraceabilityServer_war_exploded/clients_model/updatedModel.zip
classes/artifacts/TraceabilityServer_war_exploded/origin_model/originModel.zip
classes/artifacts/TraceabilityServer_war_exploded/WEB-INF/classes/META-INF/TraceabilityServer.kotlin_module
classes/artifacts/TraceabilityServer_war_exploded/META-INF/MANIFEST.MF
src/com/ecnu/traceability/utils/Email.java
WebContent/resources/res/dataset/WISDM_ar_test1.csv
WebContent/resources/res/dataset/WISDM_ar_train1.csv
WebContent/resources/res/model/trained_har_nn_updated.zip
WebContent/resources/res/model/trained_har_nn.zip
res/dataset/WISDM_ar_test1.csv
res/dataset/WISDM_ar_train1.csv
res/model/trained_har_nn_updated.zip
res/model/trained_har_nn.zip
.classpath
genData.py
classes/artifacts/TraceabilityServer_war_exploded/clients_model/originModel.zip
classes/artifacts/TraceabilityServer_war_exploded/clients_model/originModel1.zip
*.war
classes/
